
body {
  float: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15pt;
  text-align: center;
}


div.thankYou {
color: rgb(255, 255, 255);
text-align: center;
margin:20%;
font-size: 30pt;
background-color: black;
padding: 10%;
}


header img {
  width: 100%;
  display: inline-block;
}



form{
  color: rgb(0, 0, 0);
  background-color: rgba(234, 255, 0, 0.526);
  padding: 5%;
  border-radius: 15pt;
  font-size: 18pt;
  margin: 15%;
}

form input {
  border-color: transparent;
  border-radius: 15pt;
  font-size: 14pt;
  margin: 10pt;
  padding: 4pt;
}

header h1 {
text-align: center;
font-size: 50pt;
color: rgb(255, 255, 255);
}

header h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: arial;
  font-size: 20pt;
}


.pet-list {
  display: inline-block;
  justify-content: center;
  
background-color: rgba(252, 172, 123, 0.404);
}

.pet-list h1 {
text-align: center;
background-color: transparent;
color: rgb(255, 255, 255);
font-size: 40pt;
font-family: 'bubblegum'}

.pet-list nav {
  color: transparent;
}
.pets {
  text-align: center;
  width: 25%;
  border: solid rgb(255, 123, 75);
  border-width: 2pt;
  box-sizing: border-box;
background-color: rgba(255, 253, 253, 0.614);
  border-radius: 2%;
  margin: 20pt;
display: inline-block;
}

.pets:hover {
scale: 1.01;  border: solid rgb(255, 85, 0);
  border-width: 2pt;
  box-sizing: border-box;
background-color: rgba(252, 152, 115, 0.614);
  border-radius: 2%;
  margin: 20pt;
display: inline-block;
}


.pets img {
  border-radius: 150pt;
display: inline-block; 
width: 80%;
  box-sizing: border-box;
  margin: 5%;

}

.pets h1 {
  text-align: center;
  line-height: .4;
  color:rgb(251, 101, 56);
}

.pets p {
  font-family: 'Courier New', Courier, monospace;
  padding:5%;
  color: black;
  text-align: left;


}

html {
background-image:url(../IMG/backspace.png);
background-size: cover;

}
button {
  border-color: transparent;
  font-style:normal;
  color: rgb(1, 1, 1);
  font-size: 15pt;
  padding:5pt;
  border-radius: 20pt;
  text-align: center;
}

div.petProfile {
  color:white;
  width: 50%;
  text-align: center;

}


.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}